<div id="Portada_playoff">
  <img id ="portada-playoff" <%= image_tag "playoff-wallpaper.jpeg" %>
</div>

<div class="info">
  <h1>Playoffs:</h1>

  <ul>
    <li>Los primeros cuatro de cada torneo juegan playoffs,</li>
    <li>se enfrentan en un mini torneo de eliminaci칩n directa,</li>
    <li>de este torneo se definir치 el campe칩n de la divisi칩n</li>


  </ul>

</div>
