<p><strong>Equipos:</strong></p>
<% division.teams.each do |team| %>

  <%if team.id != 0%>
  <ul>
    <td><%= link_to team.name, team %></td>
    <% if is_admin_logged_in? %>
      <td><%= link_to 'Editar', edit_team_path(team), class: 'new-button teams' %></td>
      <td><%= link_to 'Eliminar', team, method: :delete, class: 'new-button teams', data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </ul>
  <% end %>



<% end %>
