<p>
   Hola!
 </p>

 <p>
   <%= @user.full_name %> te ha invitado a que te unas a su equipo  en LaLiga
</p>

<p>
  Para crear tu cuenta sigue este link <%= @link %>
</p>

 <p>
   Saludos,<br>
   Equipo LaLiga
 </p>
