<h1 id="Titulo-home">Bienvenid@ a La Liga </h1>
<main>


<div id="Portada">
  <img id="portada" src="https://s-media-cache-ak0.pinimg.com/originals/85/38/dc/8538dc21f7c23dc288b23002d3261d51.jpg" alt="">
</div>


</main>
<div class="captions">


  <div class="caption">
  <h1>Inscribete en LigaMC</h1>
  <ul>
    <li>-Costo de inscripción: $250000</li>
    <li>-Equipos de 7 jugadores</li>
    <li>-Premio de 800000 para el primer lugar</li>
    <li>-Tercer tiempo asegurado</li>
  </ul>
  </div>

  <div class="caption">
    <h1 class>Sistema de torneos</h1>
    <ul>
      <li>-Fase de grupos de 7 partidos</li>
      <li>-Los 4 primeros de cada grupo pasan a playoffs</li>
      <li>-Premios para el 1º,2º y 3º lugar</li>
      <li>-Actividades todos los partidos</li>
    </ul>


  </div>
  <div class="caption">
    <h1>Lugar de juego y fechas</h1>
    <ul>
      <li>-Canchas ubicadas en pastizales don trululú</li>
      <li>-Pasto natural</li>
      <li>-Liga de día Sábado</li>
      <li>-Inscríbete para el segundo semestre!</li>
    </ul>

  </div>

</div>
