<p id="notice"><%= notice %></p>

<% @users = User.all.where(is_admin: false).limit(15) %>



<div class="table_head">


<h1 class = "table_text"> Goleadores de la LigaMC</h1>




</div>

<table class = "tabla_pos">
  <thead>
    <tr>
      <th>Jugador</th>
      <th>Posición</th>
      <th>Equipo</th>
      <th>Goles</th>


    </tr>
  </thead>

  <tbody>

    <% @users.each do |user| %>
      <tr>

        <td><%=user.full_name%></td>
        <td><%=user.position%></td>
        <td><%=Team.find(user.team_id).name%></td>
        <td>0</td>


      </tr>

      <% end %>


  </tbody>
</table>
