<h2>
   Hola!
 </h2>

 <h2>
   El usuario <%= @user_from.full_name %> a comentado tu post llamado <%= @post.name %> con lo siguiente:
 </h2>

 <p><%= @content %></p>

 <h2>
   Saludos,<br>
   Equipo LaLiga
 </h2>
