<h3>
   Hola!
 </h3>

 <h3>
   El usuario <%= @user_from.full_name %> a comentado tu post llamado <%= @post.name %> con lo siguiente:
 </h3>

 <p><%= @content %></p>

 <h3>
   Saludos,<br>
   Equipo LaLiga
 </h3>
