// Place all the styles related to the Divisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-div {
  display: inline-block;
  height: 100%;
  width: 30%;
  position: relative;
  padding: 0 5px 0 5px;
  background: white;
  margin: 1%;

  .links {
    text-align: right;
    border-top: 1px solid #cfcfcf;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

div.division-name h3{
  background-color: #c80a00;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: bold;
  color: white;

}

a.teams{
  float: right;

}

.div-description{
  font-size: 16px;
}
