form {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.actions {
  margin-left: 30%;
  input, button {
    padding: 8px;
    border: 1px solid #999;
    background: #C80A00;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    &:hover {
      background: #990000;
      cursor: pointer;
    }
  }
}

.field {
  margin-bottom: 25px;

  textarea {
    width: 69%;
    font-size: 20px;
    border-radius: 4px;
    margin: 0;
  }

  .selections {
    margin: 0 0 0 170px;
  }
  select {
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 28px;
  }
  input {
    height: 36px;
    width: 70%;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin: 0

  }

  label, .label {
    color: #555;
    display: inline-block;
    line-height: 36px;
    float: left;
    width: 25%;
    border: none;
    margin: 0;

  }

  .btn {
    margin-left: 25%;
    width: 70%;
  }

  .field_with_errors, &.error {
    display: inline-block;
    label, input[type=text], input[type=password], input[type=email], .error-message {
      color: red;
    }
    input[type=text], input[type=password], input[type=email] {
      border-color: red;
    }
    .error-message {
      margin-left: 10px;
    }
  }
}
