
#portada{
    width: 90%;
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;
}
#Titulo-home{
  margin-left: 70px;
  font-size: 52px;
}

div.caption{
  display: inline-block;
  height: 200px;
  width: 30%;
  position: relative;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  background: white;


}

div.captions{
  border-left: 70px;
  border-right:  10px;

}
