html{
  height: 100%;
}

main{
  margin-left: 50px;
}

body {
  padding: 0;
  min-height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  font-family: sans-serif;
  background: #cfcfcf;
}


#pagewrapper {
  width: 1170px !important;
  background-color: #f1f1f1;
  margin: 20px auto 50px auto;
  height: 100%;
}

#navwrapper {
  width: 1170px;
  margin: 0 auto;
}


#upbar {
  padding-top: 20px;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

nav {
  width: 100%;
}
nav ul {
  background-color: #C80A00;
}

nav li{
float: left;
}
ul .performance li {
  float: left;
}
li.right  {
  float: right;
}

li a {
  text-decoration-color: white;
  display: block;
  color: white !important;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-family: sans-serif !important;
  font-size: 16px !important;
  font-weight: bold;
  text-transform: uppercase;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #990000;
}

/* --- */

footer {
  color:#818183;
  background-color: #2b3036;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;

}


/* ---- */

.btn-primary {
  padding: 8px 0;
  background-color: #cc0001;
  color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  border: 1px solid #cc0001;
  border-radius: 4px;
}

.new-button, .edit-button {
 border-color: #818488;
 color: #818488;
 font: Sans-serif;
 margin-left: 10px;
}

.black-button {
 border-color: #2b3036;
 color: #2b3036;
 font: Sans-serif;
 margin-left: 10px;
}

.img_logo{
  height: 120px;
}
