html{
  height: 100%;
}

main{
  margin-left: 50px;
}

body {
  padding: 0;
  min-height: 92%;
  width: 100%;
  position: relative;
  margin: 0;
  font-family: sans-serif;
  background: #cfcfcf;
  padding-bottom: 4rem;

  font-family: sans-serif;
}

.panel-div {
  display: inline-block;
  height: 100%;
  width: 30%;
  position: relative;
  margin-left: 0;
  padding: 0 5px 0 5px;
  background: white;
  .links {
    text-align: right;
    border-top: 1px solid #cfcfcf;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.panel-match {
  display: inline-block;
  height: 80px;
  width: 1150px;
  position: relative;
  margin: 10px 0 10px 0;
  padding: 10px;
  background: white;
  .date {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .result {
    width: 100%;
    text-align: center;
    margin: 10px;
    font-size: 120%;
    .links {
      text-align: right;
      position: absolute;
    }
  }


}

#pagewrapper {
  width: 1170px !important;
  background-color: #f1f1f1;
  margin: 20px auto 20px auto;
  min-height: 460px;
  padding: 10px 15px;
}

#navwrapper {
  width: 1170px;
  margin: 0 auto;
}


#upbar {
  padding-top: 20px;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

nav {
  width: 100%;
}
nav ul {
  background-color: #C80A00;
}

nav li{
float: left;
}
ul .performance li {
  float: left;
}
li.right  {
  float: right;
}

li a {
  text-decoration-color: white;
  display: block;
  color: white !important;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-family: sans-serif !important;
  font-size: 16px !important;
  font-weight: bold;
  text-transform: uppercase;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #990000;
}

/* --- */

footer {
  color:#818183;
  background-color: #2b3036;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
}


/* ---- */


.btn-primary {
  padding: 8px 8px;
  background-color: #cc0001;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #cc0001;
  border-radius: 4px;
}

.btn-primary:hover {
background-color: #950700;
}

.new-button, .edit-button {
 border-color: #818488;
 color: #818488;
 font: Sans-serif;
 margin-left: 10px;
}

.black-button {
 border-color: #2b3036;
 color: #2b3036;
 font: Sans-serif;
 margin-left: 10px;
}

.img_logo{
  height: 120px;
}
