html{
  height: 100%;



}
main{
 margin-top: 0;


}

 body {
   padding-bottom: 6rem;
   min-height: 100%;
  position: relative;
  margin: 0;
  
  font-family: sans-serif;


}

#upbar {
  padding-top: 100px;


}


ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C80A00;
}

li {


    float: left;

}

li.right  {
    float: right;
}

li a {

    text-decoration-color: white;
    display: block;
    color: white !important;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: sans-serif !important;
    font-size: 16px !important;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #990000;
}

/* --- */

footer {
  color:#818183;
  background-color: #2b3036;
  width: 100%;
  padding:20px;




  text-align: center;
  position: absolute;

  bottom: 0;

}
