div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 288px;


}

div.gallery_show img{

    display: block;
    margin: 0 auto;
    padding: 50px;


}
div.gallery_show p{
    text-align: center;

}

div.show_image {
    text-align: center;

}


div.gallery:hover {
    border: 1px solid #777;
}

a.foto img {
    width: 100%;
    height: 162px;
}

div.image_desc {

    text-align: center;
}


td.gallery_td{

  font: sans-serif;
}

.final_gallery{

  margin-left: 50px;
  margin-top: 40px;





}
