

h1, h2, h3, h4, h5, h6 {

  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
  }

  &:hover {
    color: #cfcfcf;
  }
}



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  border-color: #C80A00;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #C80A00;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #C80A00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.btn-primary {
  padding: 8px 8px;
  background-color: #cc0001;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #cc0001;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #950700;
  cursor: pointer;
}

.new-button, .edit-button {
 border-color: #818488;
 color: #818488;

 margin-left: 10px;
}

.black-button {
 border-color: #2b3036;
 color: #2b3036;

 margin-left: 10px;
}

.img_logo{
  height: 120px;
}
