#tablewrapper {
  padding: 20px;
  background: white;
}

table, th, td {
    border: 1px;
    border-collapse: collapse;
}

th, td {
  padding: 15px;
  font-weight: normal;
  text-align: right;
}

.team {
  text-align: left;
}

.info {
  text-align: right;
}

td:nth-child(1),td:nth-child(2) {
  text-align: left;
}

th:nth-child(1),th:nth-child(2) {
  text-align: left;
}

.players td:nth-child(2) {
  text-align: right;
}

td {
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
  margin-left: 10px;
  text-align: right;
}

tr {
  margin-left: 20px;
}
thead {
  color: #818181;
}

table {
    border-spacing: 5px;
    width: 100%;
    background-color: white;
}

#team {
  width: 50%;
  margin: 0 auto;
}
